# ignore the src/assets/input folder except the rbcL_Qiagen_tomato_5000.fastq file
!src/assets/input/*
src/assets/input/rbcL_Qiagen_tomato_5000.fastq

# ignore the src/assets/output folder
src/assets/output/

# ignore all the __pycache__ folders
__pycache__/

# ignore the .DS_Store files
.DS_Store